.subreddit-field{
  width:225px!important;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.top-bar{
  background-color: rgb(255, 255, 255);
  height: 70px!important;
  .top-bar-text{
    color:white;
    font-size: 1.5em!important;
    display: block!important;
    margin: auto!important;
  }
}

.menu-item{
  text-align: center;
  width:275px!important;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
