@import "custom";
@import "~bootstrap/scss/bootstrap";

@import "header";
@import "footer";
@import "left-rail";
@import "main";

#default {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}
